<h1><%= t('.title') %></h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Papel</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.role.try(:name) %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>
