<% if object.errors.any? %>
  <div id="error_explanation">
    <% # TODO internacionalização aki %>
    <h2><%= pluralize(object.errors.count, "erro") %> impediram esse objeto de ser salvo:</h2>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

