<%= simple_form_for [:admin, @ip], html: { class: 'form-horizontal' },
  defaults: { input_html: { class: 'form-control' },
              controls_html: { class: 'col-md-6' },
              label_html: { class: 'col-md-3 control-label' } } do |f| %>
  <%= render 'shared/form_errors', :f => f %>

  <div class="form-group">
    <label class="col-md-3 control-label">Endereços</label>
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-8">
          <input name="ip[ip]" type="text" class="form-control" placeholder="200.123.XXX.XXX">
        </div>
        <div class="col-xs-4">
          <input name="ip[cidr]" type="text" class="form-control" placeholder="XX" id="xx" maxlength="2">
        </div>
      </div>
      <span class="help-block">ex: 192.168.100.100 / 28</span>
    </div>
  </div>

  <%= f.input :description, :input_html => { :rows => 3, :cols => 30 } %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
