/*
 *= require chosen
 *= require_tree ./admin/
 *= require google/lato
 *= require_self
 */

// TODO remover chosen?

$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "bootstrap";

body { background: #F5F5F5; }

#header
{
  margin-top: 10px;
  margin-bottom: 20px;

  .logo { max-width: 100%; }
  .person
  {
    padding-top: 31px;

    .avatar { margin-right: 10px; }
    .info { line-height: 20px; }
    .info.name
    {
      font-size: 12px;
      font-weight: bold;
      color: #3B3B41;
      line-height: 15px;
      padding-bottom: 2px;
    }
  }
}

#content
{
  #menu li
  {
    a
    {
      color: #3B3B41;
      display: block;
      text-align: center;
      font-size: 11px;
      line-height: 20px;
    }
    &.active a { color: #FFF; }
    .glyphicon { font-size: 19px; }
  }
  .well { background: #FFF; }
}
