/*
 *= require google/lato
 *= require bootstrap-datepicker/datepicker
 *= require_self
 */

// require chosen

$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$text-color: #3B3B41;

@import "bootstrap";

body { background: #F5F5F5; }

#header
{
  margin-top: 10px;
  margin-bottom: 20px;
  .logo { max-width: 100%; }
  .person
  {
    padding-top: 31px;
    .avatar { margin-right: 10px; }
    .info { line-height: 20px; }
    .info.name
    {
      font-size: 12px;
      font-weight: bold;
      color: #3B3B41;
      line-height: 15px;
      padding-bottom: 2px;
    }
  }
}
#content
{
  #menu li
  {
    a
    {
      color: #3B3B41;
      display: block;
      text-align: center;
      font-size: 11px;
      line-height: 20px;
    }
    &.active a { color: #FFF; }
    .glyphicon { font-size: 19px; }
  }
  .well { background: #FFF; }
  .title
  {
    font-size: 22px;
    margin-top: 0;
    line-height: 22px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .panel-heading { padding-right: 8px; }
  .input-group
  {
    margin-bottom: 10px;
    .input-group-btn
    {
      .btn { line-height: 20px; }
    }
  }
  .help-block
  {
    font-size: 12px;
    color: #999;
  }
  .pagination { margin-top: 0; }
}
#footer
{
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  padding-bottom: 5px;
}
