/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_self
 *= require layout
 *= require _font-awesome
 *= require_tree ./admin/
 */

.content > h1 {
  margin-bottom: 20px;
}

table.nowrap td >div {
  overflow: hidden;
  white-space: nowrap;
}

.transparent {
  opacity: 0;
}

form#new-session a.pull-right {
  margin-left: 1em;
}

.bottom-line {
  border-bottom: 8px solid #005ca1;
  padding-bottom: .3em;
  margin-bottom: 1em;
}

div.logo {
  margin: 0.3em 0 0.5em;
  font-size: 40px;
  font-family: 'Skranji', cursive;
  position: relative;

  img {
    height: 75px;
  }

  a:hover {
    text-decoration: none;
  }

  div#menu {
    position: absolute;
    right: 0;
    top: 0;

    ul {
      display: block;
    }
    ul~ul {
      margin-top: .1em;
    }

    li {
      list-style: none;
      display: block;
      float: right;

      a,i {
        padding: .2em;
        font-size: 25px;
        color: #005ca1;

        &:hover {
          background: #005ca1;
          color: white;
        }
      }
    }
  }
}
